<h2 mat-dialog-title class="title">{{selectedProduct.title}}</h2>
<mat-dialog-content class="mat-typography">
   <div class="container-fluid">
     <div class="row">
       <div class="col-sm-6 img">
         <img src="{{selectedProduct.image}}" alt="">
       </div>
       <div class="col-sm-6 description">
          <h1>{{ selectedProduct.price  | currency:'USD'}}</h1>
     <p>{{selectedProduct.description}}</p>
     <h3><mat-icon>local_offer</mat-icon>{{selectedProduct.category}}</h3>

      </div>
     </div>
   </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button  cdkFocusInitial (click)="addTocart()">Add to cart</button>
</mat-dialog-actions>

