<div class="content">
    
        <div class= "tool-bar">
                 <ul class="links" *ngIf="categories">
                     <li class="link" ><a (click)="filter('')">All</a></li>
                     <li class="link" *ngFor="let cat of categories" ><a (click)="filter(cat)">{{reformName(cat)}}</a></li>
    
                 </ul>
                 <div class="rule-container">

                     <div class="rule" (click)="activeToolbar()"></div>
                 </div>
        </div>

       <div class="products" *ngIf="products">
        <div class="row">
            <div class="col-sm-4"*ngFor=" let p of products">
                <div class="card" >
                    <div class="product-img">

                        <img src="{{p.image}}" alt="">
                    </div>

                     <h3 class="title">{{p.price | currency:'USD'}}</h3>
                     <div class="button-space">
                         <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2" (click)="select(p)"><i class="fas fa-shopping-cart"></i></button>
                    </div>
                </div>
            </div>

        
        </div>

       </div>

     
</div>



       <app-loading *ngIf="!products"></app-loading>




           <app-more-info  [selectedProduct]="selectedProduct" ></app-more-info>
 