@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.home-img{
    width: 400px;
    margin-top: 120px !important;
    animation: backInLeft; 
    animation-duration: 2s;
}
span{
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    animation: backInUp; 
    animation-duration: 2s;
    padding: 50px 0;
    height: 250px;
}
small{
    margin: 50px !important;
    margin-top: 250px;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    width: fit-content;
}
.foot {
        margin: 50px;

}
.col-md-7{
    text-align: center;
}
.row{
    align-items: center;
}
.col-md-5{
padding: 0;
text-align: center;
}
.col-md-5 p {
   font-size: 35px;
    width: 100%;
    text-align: center;
}

.col-md-5 small{
    align-items: center;
    width: 100%;
}

.col-md-5 button{
    border : 1px solid;
    color: grey;
    background-color: #fff;
    padding: 10px !important;
}

.col-md-5 button:hover{
    color: #fff;
    background-color: rgb(245, 188, 188) ;


}

@media screen and (max-width :765px){
    .home-img{
        width: 300px;
        margin: 30px  0!important;
    }
    .col-md-5{
        margin:  20px 0 !important;
    }
    .col-md-5 .quote{
        font-size: 25px;
    }

    .row{
        margin: 0 0 20px 0 !important;
    }
}
