  
<div class="container">
    <div class="row" >
        <div class="col-md-7" >
             <img src="../../../assets/img/marcus-loke-xXJ6utyoSw0-unsplash.jpg" alt="banner" class="home-img img-fluid rounded " >
        </div>
        <div class="col-md-5">
            <span>"Stay Home and SHOP online <br> You're too pretty to have to look for a parking spot..." </span> <br>
            <div class="foot">

                <small>Made By DOSS</small> <br>
                <button class="btn my-5 " [routerLink]="['/shop']">Shop now</button>     
            </div>
</div>
    </div>
</div>